@import '../App.css';

.heading {
    
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 3fr 1.5fr 3fr;
    justify-content: center;
   padding: 40px 10px;
    color: rgb(91, 91, 91);
    font-weight: 100;
    font-size: 35px;
position: relative;

}

.h1 {
    
   height: 50%;
   border-bottom: 1px solid rgb(91, 91, 91);
   width: 80%;
   margin: 0 auto;
 

}


.heading p {
    text-align: center;
}