.vid_sec {
    width: 90vmax;
    margin: auto;
   display: flex;
   justify-content: space-evenly;
  
}

.vid_sec .img {
    height: 24vmax;
    width: 28vmax;
    background-size: cover;
    background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 17px;
   color: white;
   cursor: pointer;
}



.vid_sec .play_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all 0.6s;
    margin-bottom: 15px;
}



.vid_sec > .img:hover .play_btn {
    background-color: rgba(255, 255, 255, 0.575);
    transition: all 0.6s;
}